body {
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
}
.card-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  background: lime;
  width: 20rem; /* 20 times the root font size */
  height: 25rem;
  padding: 1.5rem;
  border-radius: 8px; /* Fixed size for consistency */
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 2.5em;
}

.card-date-time {
  font-size: 2.4em;
}
.card-location {
  font-size: 2.4em;
}
.card-description {
  font-size: 2.4em;
}
