/* Global styles */
* {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: Helvetica, sans-serif, Arial; /* Helvetica font */
}

.card-container {
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

/* Animation */
@keyframes glowing {
  0% {
    box-shadow: 0 0 1.5rem #00569f;
  }
  25% {
    box-shadow: 0 0 1rem #fcb813;
  }
  50% {
    box-shadow: 0 0 1.5rem #e01b2c;
  }
  75% {
    box-shadow: 0 0 1rem #231f20;
  }
  100% {
    box-shadow: 0 0 1.5rem #006637;
  }
}

/* Card styling */
.card {
  width: 20rem; /* Responsive width */
  background: white; /* White background */
  border-radius: 1rem; /* Rounded corners */
  box-shadow: 0 0.5rem 1rem rgba(35, 31, 32, 0.1); /* Soft shadow */
  overflow: hidden; /* Hide overflowing content */
  text-align: center; /* Center text */
  animation: glowing 2.5s infinite alternate; /* Glow animation */
  transition: transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out; /* Smooth animation */
}

/* Stop animation and scale up on hover */
.card:hover {
  animation: none; /* Stops the glow animation */
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 0 2rem rgba(35, 31, 32, 1); /* Keep a solid glow */
}

/* Image */
.card img {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
}

/* Content */
.card-content {
  padding: 1.5rem; /* Spacing */
}

.card-content h2 {
  font-size: 1.5rem; /* Font size */
  color: #231f20; /* Dark text color */
  margin-bottom: 0.5rem; /* Spacing */
}

.card-content h3 {
  font-size: 1.2rem; /* Font size */
  color: #00569f; /* Blue text color */
  font-weight: bold; /* Bold text */
  margin-bottom: 0.5rem; /* Spacing */
}

.card-content p {
  font-size: 1rem; /* Font size */
  color: #666; /* Light text color */
  margin-bottom: 0.5rem; /* Spacing */
}

.card-content a {
  text-decoration: none; /* Remove underline */
  color: #006637; /* Blue text color */
  font-weight: bold; /* Bold text */
  font-size: 1.2rem; /* Font size */
  margin: 0.5rem 0; /* Spacing */
  display: inline-block; /* Inline block */
  transition: color 0.3s; /* Smooth transition */
}

.card-content a:hover {
  color: #fcb813; /* Yellow text color on hover */
}
.card-content .rsvp {
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0.5rem 0; /* Spacing */
}

.card-content .rsvp p {
  padding: 0; /* Remove default padding */
  margin-right: 0.5rem; /* Spacing */
}

.card-content .rsvp .rsvp-status {
  padding: 0;
  margin-left: 0.5rem; /* Spacing */
  cursor: pointer; /* Cursor on hover */
  font-weight: bold; /* Bold text */
  font-size: 1.2rem; /* Font size */
  transition: color 0.3s; /* Smooth transition */
}
.going {
  color: #006637; /* Green text color */
}
.not-going {
  color: #e01b2c; /* Red text color */
}

/* Button */
.open-modal {
  padding: 0.75rem 1.5rem; /* Padding */
  margin-top: 1rem; /* Spacing */
  font-size: 1.2rem; /* Font size */
  font-weight: bold; /* Bold text */
  border: none; /* Remove border */
  background: linear-gradient(
    45deg,
    #00569f,
    #fcb813
  ); /* Gradient background */
  color: white; /* Text color */
  border-radius: 0.5rem; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

/* Button hover effect */
.open-modal:hover {
  background: linear-gradient(
    135deg,
    #e01b2c,
    #006637
  ); /* Change gradient direction */
}

/* Button active effect */
.open-modal:active {
  transform: scale(0.95); /* Slightly shrink on click */
}

/* Modal styles */
/* Modal background (keeps modal in place) */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  top: 0; /* Top position */
  left: 0; /* Left position */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(35, 31, 32, 0.6); /* Semi-transparent background */
  z-index: 1; /* Overlay on top of other elements */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Modal content */
.modal {
  /* background: linear-gradient(135deg, #00569f, #fcb813, #e01b2c, #006637); */
  /* color: white; */
  background: white;
  color: #231f20;
  width: 70%; /* Set width */
  max-width: 800px; /* Limit width */
  max-height: 80vh; /* Limit height to viewport */
  overflow-y: auto; /* Enable scrolling if needed */
  padding: 2rem; /* Spacing */
  border-radius: 1rem; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(35, 31, 32, 0.2);
  position: relative;
}

/* Close button */
.close-modal {
  position: absolute;
  top: 1rem; /* Adjust position */
  right: 1rem; /* Adjust position */
  font-size: 2rem; /* Larger font size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Cursor on hover */
  background: none; /* Transparent background */
  border: none; /* Remove border */
  color: #231f20; /* Dark text color */
  transition: color 0.3s; /* Smooth transition */
}

.close-modal:hover {
  color: #e01b2c; /* Red text color on hover */
}

/* Button active effect */
.close-modal:active {
  transform: scale(0.95); /* Slightly shrink on click */
}

/* Scrollable content */
.modal-content {
  max-height: 60vh; /* Adjust to fit content */
  overflow-y: auto; /* Enable scrolling if needed */
  padding: 10px; /* Spacing */
  text-align: left; /* Left-align text */
}
/* Responsive design */
/* For devices less than 540px (e.g., mobile devices) */
@media (max-width: 539px) {
  .card {
    width: 20rem; /* Responsive width */
  }
}

/* For devices between 540px and 1024px (e.g., tablets and small laptops) */
@media (min-width: 540px) and (max-width: 1024px) {
  .card {
    width: 25rem; /* Responsive width */
  }
}

/* For devices above 1024px (e.g., desktops and large screens) */
@media (min-width: 1025px) {
  .card {
    width: 30rem; /* Responsive width */
  }
}
